/* Custom stylesheet for documentation-like pages, for
 * Morgan McGuire's Markdeep https://casual-effects.com/markdeep/
 *
 * Written by Aras Pranckevičius, http://aras-p.info/
 * Licensed as public domain or BSD 2-clause, whichever is more convenient for you.
 *
 * https://github.com/aras-p/markdeep-docs-style
 */
body {
	max-width: 960px;
	text-align: justify;
	visibility:hidden;
	white-space:pre;
	font-family:monospace
}
